replicaCount: 1

image:
  repository: todo-notification
  tag: latest
  pullPolicy: IfNotPresent

service:
  port: 8002

dapr:
  enabled: true
  appId: notification-service
  appPort: 8002

env:
  DAPR_HTTP_PORT: "3500"

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
